In [63]:
import pandas as pd
import yfinance as yf
import datetime
import time
import requests
from tqdm import tqdm

In [2]:
'''Creating our Stock List of all Stocks in S&P 500'''

site = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
table = site[0]

sp_data = table
tickers = sp_data['Symbol'].values.tolist()

In [60]:
'''Initial data table'''

stock_data = yf.download(tickers, start="2012-01-01", end="2022-04-01")

Adj_Close = stock_data['Adj Close'].T
Close = stock_data['Close'].T
Open = stock_data['Open'].T
Volume = stock_data['Volume'].T
Low = stock_data['Low'].T
High = stock_data['High'].T

stock_data

[*********************100%***********************]  504 of 504 completed

2 Failed downloads:
- BRK.B: No data found, symbol may be delisted
- BF.B: No data found for this date range, symbol may be delisted

             Adj Close                                                 \
                     A        AAL         AAP        AAPL        ABBV
Date
2012-01-03   23.779484   4.826836   65.951553   12.629211         NaN
2012-01-04   23.590443   4.741990   67.497711   12.697083         NaN
2012-01-05   24.118439   5.156796   67.927216   12.838050         NaN
2012-01-06   24.379179   5.279353   68.242195   12.972254         NaN
2012-01-09   25.017996   5.392482   68.223099   12.951676         NaN
...                ...        ...         ...         ...         ...
2022-03-28  135.207718  17.299999  210.490005  175.600006  160.605011
2022-03-29  138.203018  18.160000  215.449997  178.960007  160.813232
2022-03-30  135.247665  18.049999  211.820007  177.770004  162.370010
2022-03-31  132.122574  18.250000  206.960007  174.610001  160.743835
2022-04-01         NaN        NaN         NaN         NaN         NaN

                                                                        ...  \
                   ABC        ABMD         ABT         ACN        ADBE  ...
Date                                                                    ...
2012-01-03   32.344166   18.250000   22.094467   43.132030   28.570000  ...
2012-01-04   32.454597   18.110001   22.008778   43.115734   28.280001  ...
2012-01-05   32.700996   18.270000   21.958130   42.293003   28.480000  ...
2012-01-06   32.785954   18.139999   21.759474   42.219696   28.719999  ...
2012-01-09   32.768940   18.209999   21.755571   42.146393   28.530001  ...
...                ...         ...         ...         ...         ...  ...
2022-03-28  154.729996  321.809998  119.989998  330.739990  450.010010  ...
2022-03-29  155.039993  331.500000  120.190002  340.690002  466.329987  ...
2022-03-30  155.139999  328.510010  120.379997  338.459991  460.059998  ...
2022-03-31  154.710007  331.239990  118.360001  337.230011  455.619995  ...
2022-04-01         NaN         NaN         NaN         NaN         NaN  ...

               Volume                                                          \
                 WYNN        XEL         XOM       XRAY        XYL        YUM
Date
2012-01-03  2032400.0  3734100.0  20906800.0   955000.0  1059100.0  4735660.0
2012-01-04  1724100.0  1919000.0  16130900.0   561400.0  1391900.0  5013164.0
2012-01-05  2247000.0  2125100.0  17452800.0   981600.0  2270700.0  5059623.0
2012-01-06  3059100.0  1454500.0  15942100.0   720800.0   524400.0  3761264.0
2012-01-09  1567700.0  1396800.0  11664200.0   546700.0   558700.0  3684620.0
...               ...        ...         ...        ...        ...        ...
2022-03-28  2013300.0  1684200.0  21552400.0  1339900.0   860000.0  1280800.0
2022-03-29  2771000.0  2527000.0  27036300.0  2238800.0  1023000.0  1692400.0
2022-03-30  1456900.0  1582100.0  22079000.0  1735800.0   720500.0  2022800.0
2022-03-31  2382900.0  3045300.0  27861500.0  1677900.0  1415500.0  3932200.0
2022-04-01        NaN        NaN         NaN        NaN        NaN        NaN


                  ZBH      ZBRA       ZION        ZTS
Date
2012-01-03  2016843.0  120900.0  3442600.0        NaN
2012-01-04  1807650.0  252500.0  3478800.0        NaN
2012-01-05  2264970.0  186500.0  4965600.0        NaN
2012-01-06  1692290.0  194400.0  2994800.0        NaN
2012-01-09  1762948.0  169400.0  2078900.0        NaN
...               ...       ...        ...        ...
2022-03-28  1603300.0  319500.0  1344300.0  2995800.0
2022-03-29  1712200.0  292100.0  1257700.0  2557400.0
2022-03-30  1150200.0  316500.0  1257100.0  2612700.0
2022-03-31  1363100.0  575600.0  1578300.0  2477600.0
2022-04-01        NaN       NaN        NaN        NaN

[2583 rows x 3024 columns]

In [64]:
for i in tqdm(range(0, len(stock_data.index))):
    day = stock_data.iloc[i]
    date = day.name
    date = str(date)[:-8]
    unstacked = day.unstack(1).T
    unstacked.to_csv(f'Data/{date}.csv')

100%|██████████| 2583/2583 [00:24<00:00, 107.24it/s]

In [49]:
day = unstacked_data.iloc[0]
print(str(day.name))

2015-01-02 00:00:00

In [46]:
unstackedday = day.unstack(1)
unstackedday.T

       Adj Close       Close        High         Low        Open       Volume
A      38.134743   40.560001   41.310001   40.369999   41.180000    1529200.0
AAL    51.079918   53.910000   54.599998   53.070000   54.279999   10748600.0
AAP   153.358200  158.559998  162.500000  157.470001  160.850006     509800.0
AAPL   24.819241   27.332500   27.860001   26.837500   27.847500  212818400.0
ABBV   47.606876   65.889999   66.400002   65.440002   65.440002    5086100.0
...          ...         ...         ...         ...         ...          ...
YUM    45.366924   52.012939   52.846874   51.761322   52.796551    2283466.0
ZBH   103.273209  109.310677  111.271843  108.524269  110.883492     936579.0
ZBRA   77.430000   77.430000   78.419998   76.059998   77.989998     411800.0
ZION   24.978090   28.290001   28.719999   28.059999   28.670000    2298700.0
ZTS    41.283794   43.310001   43.700001   43.070000   43.459999    1784200.0

[504 rows x 6 columns]